// HTML
<canvas id="canvas"></canvas>


// JS
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");

ctx.font = "48px serif";
ctx.strokeText("Hello world", 50, 100);

// SYNTAX
ctx.font = value;