// Use this code when you want to center buttons.

// HTML
<div class="buttonHolder">
	<button type="button" class="btn btn-default">1</button>
</div>

// CSS
.buttonHolder {
	text-align: center;
}

// Testing to see if it can be used to center other components. Likely not
// the correct way to do it but if it works then I will rock it.